

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    position: absolute;
    top: 0;

}




.navigate a{
    text-decoration: none;
    color: black;
    
}


.parallax{
    display: flex;
    height: 115vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

#text {
    font-size: 6rem;
    z-index: 1;
    color: white;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    
}
#leaf{
    z-index: 2;
}
#plant{
    z-index: 2;
}


.next{
    background-color: #003329;
    height: 100vh;
    position: relative;
    padding: 1rem;
    z-index: 3;
}