@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Josefin+Sans:ital,wght@0,200;0,400;1,400&family=Rubik&family=Ubuntu:wght@300&family=Work+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2rem;
    position: absolute;
    top: 0;

}




.navigate a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    z-index: 10;

    
}


.parallax{
    display: flex;
    height: 115vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#text {
    font-size: 6rem;
    z-index: 1;
    color: white;
    text-shadow: -3px 5px 21px rgba(6, 0, 0, 1);
}

#texts{
    z-index: 1;
    text-shadow: -3px 5px 21px rgba(6, 0, 0, 1);
}

#text1{
    font-size: 4rem;
    color: white;
    margin-bottom: 1rem;
    
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    
}
#leaf{
    z-index: 2;
}
#plant{
    z-index: 2;
}


.yube{
    background-color: #003329;
    
    position: relative;
    padding: 1rem;
    z-index: 3;
    color: white;
    padding: 2rem;
    
}

.aboutMe h1{
    font-size: 3em;
    margin-bottom: 1rem;
}
.aboutMe p{
    font-size: 1.5em
}

.projects{
    margin-top: 2rem;
}

.projects h1{
    font-size: 3em;
    margin-bottom: 1rem;
}

.works{
    display: flex;
    gap: 2rem;
}

.work img{
    height: 30rem;
    width: 25rem;
    object-fit:cover;
    border-radius: 1rem;
}


